<!DOCTYPE html>
<html lang="en">
<head>
    <%- (require('./common/common_meta'))() %>
    <title>tpl2</title>
    <%- (require('./common/common_header'))() %>
</head>
<body>
    <div>
        <!--sonicdiff-data1-->
        <h1>我什么都不会变:<%= data.chinaDate %></h1>
        <!--sonicdiff-data1-end-->
    </div>

    <div>
        <!--sonicdiff-data2-->
        <h2>我只是数据发生变化</h2>
        <% if(data.templateFlag){ %>
            <p>我的模板小小的改变了一下</p>
        <% } %>
        <!--sonicdiff-data2-end-->
    </div>

    <div>
        <!--sonicdiff-data3-->
        <% var tokens = data.tplsData %>
        <% for(var i = 0; i < tokens.length; i++){ %>
            <p>我是第<%= i %>个token:<%= tokens[i].token %></p>
        <% } %>
        <!--sonicdiff-data3-end-->
    </div>
    <div>
        
    </div>
</body>
</html>